<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe details</title>
</head>
<body>
    <h3> {{recipe.title}} </h3>
    <p> {{recipe.id}} </p>
    <p>
        Rating: {{recipe.rating}}<br><br>
        Categroy: {{recipe.category}}<br><br>
        Estimated preparation time: {{recipe.prep_time}}<br><br>
        Servings for: {{recipe.servings}}<br>
    </p>
    <p>Ingredients:
        {{recipe.ingredients}} </p>
    <p>Instructions:
        <!-- <ul>
            <li> {{recipe.instructions}} </li>
        </ul> -->
        <ul>
        {% for step in instructions %}
            <li>{{ step }}</li>
        {% endfor %}
        </ul>
    </p>
    <p>recipe_url: {{recipe.recipe_url}} </p>


</body>
</html>