<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Recipe</title>
</head>
<body>
    {% for recipe in recipeDetail %}
        <h3> {{recipe.title}} </h3>
        <p> {{recipe.source}} </p>
        <p>
            Rating: {{recipe.rating}}<br><br>
            Categroy: {{recipe.category}}<br><br>
            Estimated preparation time: {{recipe.prep_time}}<br><br>
            Servings for: {{recipe.servings}}<br>
        </p>
        <p>Ingredients:
            {{recipe.ingredients}} </p>
        <p>Instructions:
            {% for step in recipe.instructions %}
            <ul>
                <li> {{step}} </li>
            </ul>
            {% endfor %}
        </p>
        <p>recipe_url: {{recipe.recipe_url}} </p>
    {% endfor %}


</body>
</html>