<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Recipet</title>
</head>
<body>
    <form method="get" action="{% url 'view_merged_list' %}">
        <input type="text" name="q" placeholder="Search for a recipe">
        <input type="text" name="tags" placeholder="Any tag?">
        <input type="text" name="size" placeholder="How many recipes?">
        <button type="submit">Search</button>
    </form>
</body>
</html>